/* src/App.css */
.light-theme {
  /* background-color: #ffffff; */
  background: url('assets/cool-background.png');
  background-size: cover;
  /* color: #000000; */
}

.dark-theme {
  /* background-color: #212529; */
  background: url('assets/cool-background3.png');
  background-size: cover;
  color: white;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .container {
  flex: 1;
}

.mainDiv{
  display: flex;
  flex: 1;
  justify-content: center;
}

.maxHeight{
  height: auto !important;
}

#root{
  /* background-color: black; */
  user-select: none;
}

#dropdown-basic::after{
  display: none !important;
}

.darkGreenBg{
  background-color: #20707D;
}

.form-switch {
  display: flex !important;
  align-items: center !important;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  overflow: hidden;
}

#custom-switch {
  width: 3.2em;
  height: 1.8em;
  margin-right: 8px;
}

.active-light{
  background-color: #20707D;
  color: white;
}

.active-dark{
  background-color: white;
}


