/* src/App.css */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #212529;
  color: #ffffff;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .container {
  flex: 1;
}

#root{
  background-color: black;
  color: white;
}

/* :root.light-theme{
  background-color: black;
  background-image: -moz-radial-gradient(0,0,256);
} */

#dropdown-basic::after{
  display: none !important;
}


